.nova-transacao {
    width: 400px;
    height: 344px;
    background: #ffffff;
    border: 1px solid #979797;
    box-sizing: border-box;           
    border-radius: 4px;
    margin-top: 30px;
    margin-left: 200px;
    position: absolute;
}
.input {
    height: 32px;
    width: 370px;
    background: #ffffff;
    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 4px;
    display: grid;    
    margin-left: 14.9px;
    margin-right: 14.9px;
    margin-top: 2.3px;
    margin-bottom: 20px;
}
.nova-transacao h1{
    width: 174px;
    height: 20px;
    font-family: 'latoregular';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-left: 113px;
    text-align: center;
}
.nova-transacao label {
    font-family: 'latoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    margin-left: 14.9px;
}
#submit {
    font-family: 'latoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    background: #333333;
    display: block;
    margin-top: 20.78px;
    height: 32px;
    width: 370px;
    margin-left: 14.9px;
    margin-right: 14.9px;
}

.extrato {
    width: 680px;
    height: 281px;
    background: #ffffff;
    margin-top: 30px;
    margin-left: 620px;
}
.extrato h1 {
    width: 174px;
    height: 20px;
    font-family: 'latoregular';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    margin-left: 239px;    
}
.table {
    width: 660px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #979797;
    align-items: center;
    font-family: 'latoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #000000;

}
.extrato .total {
    text-align: end;
    margin-right: 25px;
    margin-top: -16px;
    font-family: 'latoregular';
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    color: #000000;
}
.table-inicio {
    margin-bottom: -27px;
    font-weight: bold;
}
.table-final {
    margin-top: 3px;
    width: 660px;
    height: 45px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #979797;
    align-items: center;
    font-family: 'latoregular';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
}

@font-face {
    font-family: 'latoregular';
    src: url('C:/Users/Usuário/Desktop/Curso/Primeiro Projeto/font/lato-regular-webfont.woff2') format('woff2'),
         url('C:/Users/Usuário/Desktop/Curso/Primeiro Projeto/font/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

