body {
    margin: 0px 0px;
    font-family: 'latoregular';
}
.cabecalho-menu {
    width: 1500px;
    height: 80px;
    background: #E0E0E0;
    display: flex;
}
 .logo {
    margin-top: 22px;
    margin-left: 200px;
}
.controlefinanceiro {
    width: 411px;
    height: 43px;
    font-family: 'latoregular';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    align-items: center;
    line-height: 24px;
    display: flex;
    margin-top: 19px;
    margin-left: 20px;
}
.menu {
    width: 350px;
    height: 40px;
    margin-top: 20px;
    margin-left: 270px;
    margin-right: 200px;
    background: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    font-family: 'latoregular';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
}
.menu a {
    text-decoration: none;
    color: #333333;
        
}
.hr {
    transform: rotate(90deg);
}