@font-face {
    font-family: 'latoregular';
    src: url('../font/lato-regular-webfont.woff2') format('woff2'),
         url('../font/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    font-family: 'latoregular';
    max-width: 1500px;
}
                        /* Inicio do Cabeçalho  */
.cabecalho-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 101%;
    min-width: 411px;
    height: 60px;
    background: #e0e0e0;
}

.logo {
    padding: 10px;
}

.titulocabecalho {
    font-weight: bold;
}

#chec {
    display: none;
}

.imghamburguer {
    width: 30px;
    height: 20px;
    padding: 10px;
}


.menu {
    display: none;
}

.conteudo {
    display: flex;
    flex-direction: column;
}

                            /* Fim do Cabeçalho  */
                            /* Inicio do conteudo  */
.formulario {
    width: 90%;
    min-width: 380px;
    height: 315px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-bottom: 1px solid #979797;
}

.formulario h3 {
    display: none;
}

.formlinha1, .formlinha2, .formlinha3, .formlinha4 {
    display: flex;
    flex-direction: column;
}

.formulario input, .compravenda {
    width: 100%;
    height: 32px;
    border: 1px solid #979797;
    border-radius: 4px;
    padding-left: 5px;
    color: #979797;
    box-sizing: border-box;
}

.formulario label {
    padding-bottom: 5px;
}


#submit {
    width: 100%;
    height: 32px;
    border-radius: 4px;
    background: #333333;
    color: white;
}

.extrato {
    width: 90%;
    min-width: 380px;
    height: 281px;
    margin-left: 20px;

}

.title {
    text-align: center;
}

.primeiralinha, .segundalinha, .terceiralinha, .quartalinha, 
.quintalinha {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #979797;
}
.primeiralinha, .quintalinha {
    font-weight: bold;
    padding: 2px;
    margin-top: 10px;
}

.quintalinha {
    border-bottom: none;
    border-top: 1px solid #979797;
    margin-top: 4px;
    padding-top: 10px;
}

.lucro {
    text-align: end;
    font-size: 10px;
}

                        /* Rodape */

.rodape {
    width: 101%;
    height: 10px;
    background: #333333;
    position: absolute;
    bottom: 0px;
}
                    /* Inicio do menu responsivo  */

.menuhamburguer nav {
    position: absolute;
    width: 351px;
    height: 100%;
    background: #333333;
    right: 0px;
    top: 0px;
    left: -351px;
}

.menuhamburguer input[type="checkbox"]:checked ~ nav {
    right: 0px;
    left: initial;
}

.img-x {
    padding: 20px;
}

.menuhamburguer nav ul {
    list-style: none;
    text-align: end;
    padding: 0px;
}

.menuhamburguer nav ul li {
    text-decoration: none;
}

.menuhamburguer nav ul li a {
    color: #ffffff;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.menuhamburguer nav ul li a:hover {
    background: #c4c4c4;
}
                    /* Final no menu responsivo */

@media (min-width: 710px) { /* Telas de tablet */

.formulario {
    width: 90%;
    height: 189px;
    border: 1px solid #979797;
    border-radius: 4px;
    margin-top: 20px;
    display: initial;
}

.imghamburguer {
    padding: 30px;
}

.formlinha1, .formlinha3 {
    width: 22%;
    display: flex;
    margin: 0px 8px;
}

#submit {
    width: 200px;
    align-items: flex-end;
}

.formlinha2 {
    width: 50%;
}

.formulario h3 {
    display: flex;
    justify-content: center;
}

.formlinha1, .formlinha2, .formlinha3 {
    display: inline-flex;
}

.compravendadescritivo, .mercadoriadescritivo, .valordescritivo {
    padding-bottom: 5px;
}

.formlinha4 {
    align-items: end;
    padding: 13px;
}

.menuhamburguer nav {
    width: 250px;
}

}

@media (min-width: 940px) {   /* Telas Descktop */

.cabecalho-menu {
    justify-content: inherit;
}

.logo {
    margin-left: 10px;
}

.menuhamburguer{
    display: none;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 350px;
    height: 40px;
    background: #ffffff;
    margin-left: auto;
    margin-right: 20px;
}

.menu a {
    font-weight: bold;
    text-decoration: none;
    color: #333333;
}

.hr {
    transform: rotate(90deg);
}

.conteudo {
    display: flex;
    flex-direction: row;
}

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 344px;
}

.formlinha1, .formlinha2, .formlinha3, .formlinha4 {
    width: 95%;
    
}

.section {
    margin-top: 26px;
    width: 100%;
    max-width: 652px;
}

.extrato {
    width: 100%;
    height: 281px;
    
}

}

@media (min-width: 1120px) {   /* Telas acima da média  */

.menu {
    margin-left: 535px;
    margin-right: auto;
}

.logo {
    margin-left: 200px;
}

.formulario {
    margin-left: 200px;
}

}