@font-face {
    font-family: 'latoregular';
    src: url('../font/lato-regular-webfont.woff2') format('woff2'),
         url('../font/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0px;
    font-family: 'latoregular';
}

                                /*  Inicio do Cabeçalho   */

.cabecalho-menu {
    width: 100%;
    max-width: 1500px;
    height: 80px;
    background-color: #e0e0e0;
    display: flex;
    flex-direction: row;
}

.logo {
    margin-top: 22px;
    margin-left: 10%;
}

.controlefinanceiro {
    margin-top: 33px;
    margin-left: 20px;
    font-weight: 600;
    font-size: 20px;
}

.menu {
    width: 350px;
    height: 40px;
    background: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    margin-right: 200px;
    margin-left: auto;
}

.menu a {
    text-decoration: none;
    color: #333333; 
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;       
}

.hr {
    transform: rotate(90deg);
}
                             /*  Final do Cabeçalho   */

.conteudo {
    display: flex;             /* Para alinhar o conteudo um ao lado do outro  */
    flex-direction: row;   
}
                            /* Iniciando o menu nova transação */
.nova-transacao {
    width: 400px;
    height: 344px;
    background: #ffffff;
    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 4px;
    margin-top: 30px;
    margin-left: 10%;    
}

.nova-transacao h1 {
    text-align: center;
}

.nova-transacao label {
    font-size: 14px;
    line-height: 22px;
    color: #333333;
    margin-left: 20px;
}

.compravenda {
    height: 32px;
    width: 370px;
    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 14.9px;
    margin-right: 14.9px;
    margin-top: 2.3px;
    margin-bottom: 20px; 
    color: #979797;
}

.nova-transacao input {
    height: 32px;
    width: 370px;
    border: 1px solid #979797;
    box-sizing: border-box;
    border-radius: 4px;
    margin-left: 14.9px;
    margin-right: 14.9px;
    margin-top: 2.3px;
    margin-bottom: 15px; 
}

#submit {
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
    background: #333333;
    margin-top: 10px;
}                                   
                        /* Final do menu nova transação */

                        /* Iniciando o menu extrato */

.extrato {
    width: 680px;
    height: 281px;
    background: #ffffff;
    margin-top: 30px;
    margin-left: 20px;
}

.title {
    text-align: center;
}

.table-inicio {
    font-weight: bold;
}

.table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid #979797;
}

.table-final {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5px;
    border-top: 1px solid #979797;
    padding-top: 10px;
    font-weight: bold;
}

.lucro {
    text-align: end;
}

                                /* final do menu extrato */

                                /* Telas de 1024px   */

@media (max-width: 1024px) {
    .logo   {
    margin-left: 22px;       
}

    .menu {
        margin-right: 20px;
        margin-left: auto;
}

    .nova-transacao {
        margin-left: 22px;
    }

    .extrato {
        width: 564px;
    }

}

@media (max-width: 768px) {         /* @media para telas de 768px  */

    .conteudo {
        display: flex;
        flex-direction: column;
    }

    .controlefinanceiro {
        margin-left: 245px;
    }

    .menu {
        display: none;
    }

    .um, .dois, .tres {
        background-color: #333333;
        height: 3px;
        width: 80%;
        margin: 5px auto;
    }

    .hamburguer {
        width: 40px;
        height: 30px;
        margin-top: 24px;
        margin-right: 20px;
        margin-left: auto;
    }

    .nova-transacao {
        width: 728px;
        height: 189px;
        margin-top: 20px;
        margin-left: 20px;
    }

    .mercadoria {
        position: absolute;
        margin-top: -22px;
        margin-left: 171px;
    }

    .valor {
        position: absolute;
        margin-top: -22px;
        margin-left: 538px;
    }

    .compravenda {
        position: absolute;
        height: 32px;
        width: 150px;
        margin-left: 20px;
    }

    #mercadoria {
        position: absolute;
        width: 348px;
        height: 32px;
        margin-left: 95px;
    }

    #valor {
        position: absolute;
        width: 150px;
        height: 32px;
        margin-left: 278px;
    }

    #submit {
        position: absolute;
        width: 200px;
        height: 32px;
        margin-top: 50px;
        margin-left: 509px;
    }

    
    .extrato {
        width: 728px;
        height: 281px;
        margin-top: 23px;
        margin-left: 20px;
    }

}

